.card {
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-top: -120px;
}

.card:nth-of-type(1) {
  color: blue;
  margin-top: 0;
}

ul li {
  list-style: none;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.game-board-column {
  float: left;
  margin-right:20px;
}
