ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1 {
  text-align: center;
}

.game-container {
  margin: 0 auto;
  width: 1000px;
}

.card {
  border: solid 1px red;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-top: -120px;
  background-color: #ffffff;
  opacity: 1.0;
  padding-top: 5px;
  padding-left: 5px;
}

.card:nth-of-type(1) {
  margin-top: 0;
}

.covered {
  background-color: black;
}

.covered p {
  display: none;
}

.game-board-container {
  position: relative;
  top: -100px;
}

.game-board {
}

.game-board-column {
  float: left;
  margin-right:20px;
}

.front {
  z-index: 10;
}

.piles-container {
  height: 200px;
}

.pile {
  height: 200px;
}

.discard-pile {
  position: relative;
  left: 140px;
  top: -147px;
  margin-top: 0;
  border: solid 2px #000;
}

.build-piles-container {
  height: 200px;
  position: relative;
  top: -147px;
  left: 350px;
}

.build-pile {
  position: relative;
  margin-top: 0;
  margin-left: 20px;
  border: solid 3px green;
  float: left;
}







